{% extends 'base.html.twig' %}

{% block title %}My wishes{% endblock %}

{% block content %}
    <h2>Всі твої бажання:</h2><br>
    <section>
        <ul>
            {% for wish in wishes %}
                <li>
                    <ul>
                        <li>Your wish ID: {{ wish.id}}</li>

                        <li>Your wish: <h3>{{ wish.wish}}</h3>
                        <br>
                    </ul>
                    <div class="col-md-3 text-end">
                        <a href={{ path('dell_wishes', {'id': wish.id}) }}> <button type="button" class="btn btn-outline-primary me-2 del">Delete</button></a>
                        <button type="button" class="btn btn-primary done">Done</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}