{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <section>
    <div class="col-md-3 text-end">
        <button onclick="location.href='findUsers'" type="button" class="btn btn-outline-primary left">Back</button>
    </div><br>
    <h4>User does not exist</h4><br>
    {{ error.code }} {{ error.message }} {{ error.file }}: {{ error.line }}
    </section>
{% endblock %}