{% extends 'base.html.twig' %}

{% block title %}Friends{% endblock %}

{% block content %}
    <section>
        <div class="col-md-3 text-end">
            <button onclick="location.href='findUsers'" type="button" class="btn btn-outline-primary left">Back</button>
        </div>
        <br>
        <h4>User ID: {{ user.id }}</h4>
        <h4>User Email: {{ user.email }}</h4>
    </section>
{% endblock %}